/********** Header ***********/
.full {
	background: 
		linear-gradient(
			rgba(0, 39, 88, 0.7),
			rgba(0, 39, 88, 0.7)), 
		url("../img/header1.jpg");
	background-size: cover;
	background-attachment: scroll, fixed;
}

.card-subtitle {
	font-size: 20px;
	color: rgba(0, 39, 88, 0.7);
}

@media screen and (max-width: 440px) {
	img {
		width: 360px;
		height: 360px;
		margin-left: auto;
		margin-right: auto;
	}
}